@font-face {
    font-family: 'Futura Bk';
    src: url('https://cdn.glitch.global/7a09067d-7957-4cb6-9255-345cd447eace/FuturaBT-Book.woff2?v=1709931945784') format('woff2'),
        url('https://cdn.glitch.global/7a09067d-7957-4cb6-9255-345cd447eace/FuturaBT-Book.woff?v=1709931945355') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Bk italic';
    src: url('https://cdn.glitch.global/7a09067d-7957-4cb6-9255-345cd447eace/FuturaBT-BookItalic.woff2?v=1709931946806') format('woff2'),
        url('https://cdn.glitch.global/7a09067d-7957-4cb6-9255-345cd447eace/FuturaBT-BookItalic.woff?v=1709931946328') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

  @font-face {
    font-family: 'Futura Bold';
    src: url('https://cdn.glitch.global/7a09067d-7957-4cb6-9255-345cd447eace/Futura-CondensedExtraBold.woff2?v=1712440663233') format('woff2'),
        url('https://cdn.glitch.global/7a09067d-7957-4cb6-9255-345cd447eace/Futura-CondensedExtraBold.woff?v=1712440662690') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}