@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap")
  /* Basic page style resets */ * {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

/**etiquetas HTML**/
body {
  font-family: "Roboto", sans-serif;
  background-color: #fefefe;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Futura Bk", sans-serif;
}
h1 {
  margin: 0;
}
h2 {
  font-size: 2rem;
}
li a,
p a {
  color: #4c86d7;
  text-decoration: underline;
}
a:hover,
a:focus {
  text-decoration: none;
}

/**Clases Foundation Framewok**/
.callout {
  padding: 0;
  border: 0;
}
.grid-container {
  max-width: 65rem;
}
.menu {
  font-size: 0.8rem;
}
.button {
  border-radius: 3px;
  font-weight: bold;
}
.button,
.button.disabled,
.button.disabled:focus,
.button.disabled:hover,
.button[disabled],
.button[disabled]:focus,
.button[disabled]:hover {
  background-color: #003a6c;
}
.button.secondary,
.button.secondary.disabled,
.button.secondary.disabled:focus,
.button.secondary.disabled:hover,
.button.secondary[disabled],
.button.secondary[disabled]:focus,
.button.secondary[disabled]:hover {
  background-color: #4c86d7;
  color: #fefefe;
}
/**Clases sitio web**/
.cell-radius-bottom-right {
  border-radius: 0 0 1rem 0;
  overflow: hidden;
}
.blue-grid-container {
  background-color: #003a6c;
}
.blue-grid-container h2 {
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
}
.header-grid-container {
  padding: 0;
}
/**Identificadores sitio web**/
#index-grid-container {
  background-color: white;
}
#preheader-grid-container {
  font-weight: bold;
  font-size: 0.8rem;
  background: #333333;
}
#preheader-grid-container a {
  color: white;
}
#logoufro-1 {
  filter: saturate(1);
}
#big-header {
  background: url("https://cdn.glitch.global/7a09067d-7957-4cb6-9255-345cd447eace/pleokinetic_banner1.jpg?v=1710850903710")
    no-repeat center right;
  background-position-y: -200px;
  background-size: cover;
}
#postheader-grid-container p {
  color: white;
}
#postheader-grid-container h2 {
  font-size: 4rem;
  color: white;
  line-height: 1;
  margin-bottom: 2rem;
}
#postheader-grid-container h2 span {
  font-size: 1.6rem;
}
#postheader-grid-container h3 {
  font-size: 1.3rem;
  color: white;
  font-style: italic;
  margin: 0;
  padding: 3rem 0;
}
#index-noticias-grid-container {
  margin-top: -60px;
  margin-bottom: 3rem;
}
#index-noticia h4 {
  font-weight: bold;
}
#index-noticia ul {
  list-style-type: none;
  margin: 0;
}
#index-noticia ul li {
  font-size: 1.1rem;
}
#index-comite-grid-container{
  margin-bottom: 3rem;
}
#index-comite-header {
  padding: 2rem 0;
}
#index-comite-header h3{
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 1.2;
}
#index-comite-header h3 span{
  font-weight: normal;
  text-style: italic;
  font-size: 2rem;
}
#index-comite-header p {
  margin: 0;
}
#index-comite-content h4 {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 1rem 0 0;
}
#index-comite-content p{
  font-size: 0.9rem;
}
#index-comite-content img{
  border-radius: 0 0 1rem 1rem;
  overflow: hidden;
}
#postheader-grid-container .callout {
  border-radius: 0 0 1rem 1rem;
  background: #f7f7f7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#postheader-grid-container .callout h4 {
  background: #ff7618;
  color: white;
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
  padding: 1rem;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}
#postheader-grid-container .callout ul {
  list-style-type: none;
  margin: 0;
  padding: 1rem 3rem;
}
#postheader-grid-container .callout ul li {
  margin-bottom: 1rem;
}
#postheader-grid-container .callout ul li span {
  text-transform: uppercase;
  font-weight: bold;
}
