@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap")
  /* Basic page style resets */ * {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

/**etiquetas HTML**/
body {
  font-family: "Roboto", sans-serif;
  background-color: #fefefe;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Futura Bk", sans-serif;
}
h1 {
  margin: 0;
}
h2 {
  font-size: 2rem;
}
p {
  color: #8aa0ae;
}
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  color: #8aa0ae;
}
li a,
p a {
  color: #4c86d7;
  text-decoration: underline;
}
a:hover,
a:focus {
  text-decoration: none;
}

/**Clases Foundation Framewok**/
.callout {
  padding: 0;
  border: 0;
}
.grid-container {
  max-width: 65rem;
}
.menu {
  font-size: 0.8rem;
}
.button {
  border-radius: 3px;
  font-weight: bold;
}
.button,
.button.disabled,
.button.disabled:focus,
.button.disabled:hover,
.button[disabled],
.button[disabled]:focus,
.button[disabled]:hover {
  background-color: #003a6c;
}
.button.secondary,
.button.secondary.disabled,
.button.secondary.disabled:focus,
.button.secondary.disabled:hover,
.button.secondary[disabled],
.button.secondary[disabled]:focus,
.button.secondary[disabled]:hover {
  background-color: #4c86d7;
  color: #fefefe;
}
/**Clases sitio web**/
.cell-radius-bottom-right {
  border-radius: 0 0 1rem 0;
  overflow: hidden;
}
.blue-grid-container {
  background-color: #003a6c;
}
.blue-grid-container h2 {
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
}
.header-grid-container {
  padding: 0;
}
.comite-grid-container {
  margin-bottom: 3rem;
}
.comite-header {
  padding: 2rem 0;
}
.comite-header h3 {
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 1.2;
  margin: 0;
}
.comite-header h3 span {
  font-weight: normal;
  font-style: italic;
  font-size: 2rem;
}
.comite-header p {
  margin: 0;
}
.comite-content h4 {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 1rem 0 0;
}
.comite-content p {
  font-size: 0.9rem;
}
.comite-content img {
  border-radius: 0 0 1rem 1rem;
  overflow: hidden;
}
/**Identificadores sitio web**/
#index-grid-container {
  background-color: white;
}
#preheader-grid-container {
  font-weight: bold;
  font-size: 0.8rem;
  background: #333333;
}
#preheader-grid-container a {
  color: white;
}
#logoufro-1 {
  filter: saturate(1);
}
#big-header {
  background: url("https://cdn.glitch.global/7a09067d-7957-4cb6-9255-345cd447eace/pleokinetic_banner1.jpg?v=1710850903710")
    no-repeat center right;
  background-position-y: -200px;
  background-size: cover;
}
#big-header-page-temuco {
  background: linear-gradient(to top, #003a6ce5, #736104bd),
    url("https://cdn.glitch.global/7a09067d-7957-4cb6-9255-345cd447eace/di%C3%A1logo-araucan%C3%ADa-1.jpg?v=1710854218936")
      no-repeat center right;
  background-size: cover;
  margin-bottom: 3rem;
}
#postheader-grid-container p {
  color: white;
}
#postheader-grid-container h2 {
  font-size: 4rem;
  color: white;
  line-height: 1;
  margin-bottom: 2rem;
}
#postheader-grid-container h2 span {
  font-size: 1.6rem;
}
#postheader-grid-container h3 {
  font-size: 1.3rem;
  color: white;
  font-style: italic;
  margin: 0;
  padding: 3rem 0;
}
#index-noticias-grid-container {
  margin-top: -30px;
  margin-bottom: 3rem;
}
#index-noticia h4 {
  font-weight: bold;
}
#index-noticia ul {
  list-style-type: none;
  margin: 0;
}
#index-noticia ul li {
  font-size: 1.1rem;
}
#postheader-grid-container .callout {
  border-radius: 0 0 1rem 1rem;
  background: #f7f7f7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#postheader-grid-container .callout h4 {
  background: #ff7618;
  color: white;
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
  padding: 1rem;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}
#postheader-grid-container .callout ul {
  list-style-type: none;
  margin: 0;
  padding: 1rem 3rem;
}
#postheader-grid-container .callout ul li {
  margin-bottom: 1rem;
}
#postheader-grid-container .callout ul li span {
  text-transform: uppercase;
  font-weight: bold;
}

/* BUILDING BLOCKS COMPONENTS */

.marketing-site-footer {
  background: #003a6c;
  color: #8aa0ae;
  padding: 3rem 0 0;
}

.marketing-site-footer .marketing-site-footer-menu-social a {
  color: #fefefe;
}

.marketing-site-footer .column-block {
  margin-bottom: 30px;
}

.marketing-site-footer > .row {
  margin-bottom: 1rem;
}

@media screen and (max-width: 39.9375em) {
  .marketing-site-footer .columns {
    margin-bottom: 2rem;
  }
}

.marketing-site-footer-name {
  color: #fefefe;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.marketing-site-footer-title {
  color: #fefefe;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.marketing-site-footer-block {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}

.marketing-site-footer-block .fa {
  font-size: 2rem;
  color: #020304;
}

.marketing-site-footer-block p {
  /*margin-left: 1rem;*/
  line-height: 1.125rem;
  font-size: 0.9rem;
}

.marketing-site-footer-bottom {
  background: #020304;
  padding: 1rem 0;
}

.marketing-site-footer-bottom p,
.marketing-site-footer-bottom .menu {
  margin-bottom: 0;
}

.marketing-site-footer-bottom .marketing-site-footer-bottom-links {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.marketing-site-footer-bottom .marketing-site-footer-bottom-links a {
  color: #8aa0ae;
}

@media screen and (max-width: 63.9375em) {
  .marketing-site-footer-bottom .marketing-site-footer-bottom-links {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media screen and (max-width: 63.9375em) {
  .marketing-site-footer-bottom {
    text-align: center;
  }
}

.timeline .timeline-item::after,
.timeline .timeline-item::before {
  clear: both;
  content: "";
  display: block;
  width: 100%;
}

.timeline {
  margin: 30px auto 0;
  padding: 0 10px;
  position: relative;
  transition: all 0.25s ease-in;
  width: 100%;
}

.timeline::before {
  background: #000000;
  content: "";
  height: 100%;
  left: 50%;
  position: absolute;
  top: 0;
  width: 3px;
}

.timeline::after {
  clear: both;
  content: "";
  display: table;
  width: 100%;
}

.timeline a {
  color: #000000;
  font-weight: bold;
  transition: all 0.25s ease-in;
}

.timeline a:hover {
  box-shadow: 0 1px 0px 0px #fefefe;
  transition: all 0.25s ease-in;
}

.timeline .timeline-item {
  margin-bottom: 50px;
  position: relative;
}

.timeline .timeline-item .timeline-icon {
  background: #000000;
  border-radius: 50%;
  height: 50px;
  left: 50%;
  margin-left: -23px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 50px;
}

.timeline .timeline-item .timeline-icon img,
.timeline .timeline-item .timeline-icon svg {
  left: 14px;
  position: relative;
  top: 11px;
  fill:#ffffff;
}

.timeline .timeline-item .timeline-icon svg {
  top: 14px;
}

.timeline .timeline-item .timeline-content {
  padding: 20px;
  text-align: right;
  transition: all 0.25s ease-in;
  width: 45%;
  background: transparent;
}

.timeline .timeline-item .timeline-content p {
  color: #8aa0ae;
}

.timeline .timeline-item .timeline-content p {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 0;
}

.timeline .timeline-item .timeline-content .timeline-content-date {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0;
  color:#003a6c;
}

.timeline .timeline-item .timeline-content .timeline-content-month {
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 400;
}

.timeline .timeline-item .timeline-content.right {
  float: right;
  text-align: left;
}

@media screen and (max-width: 39.9375em) {
  .timeline {
    margin: 30px;
    padding: 0;
    width: 90%;
  }
  .timeline::before {
    left: 0;
  }
  .timeline .timeline-item .timeline-content {
    float: right;
    text-align: left;
    width: 90%;
  }
  .timeline .timeline-item .timeline-content::before,
  .timeline .timeline-item .timeline-content.right::before {
    border-left: 0;
    border-right: 7px solid #fefefe;
    left: 10%;
    margin-left: -6px;
  }
  .timeline .timeline-item .timeline-icon {
    left: 0;
  }
}
